#
# Login
#

ori.core.log.in.alreadyInUse.email: Emailová adresa je již využívána jiným účtem.

#
# User
#

ori.core.user.state.new: Nový
ori.core.user.state.active: Aktivní
ori.core.user.state.disabled: Deaktivovaný
