#
# Login
#

ori.core.log.in.alreadyInUse.email: Email address is already used by another account.

#
# User
#

ori.core.user.state.new: New
ori.core.user.state.active: Active
ori.core.user.state.disabled: Disabled
