{templateType OriCMF\Front\Homepage\HomepageTemplate}

{layout OriCMF\Front\Presenter\BaseFrontPresenter::LAYOUT_PATH}

{block content}
	<h1>Hello there. I am useless homepage presenter. Just override my mapping, thx.</h1>
{/block}
