{templateType OriCMF\UI\Presenter\Base\BasePresenterTemplate}
{php
    $control['document-head-meta']->addMeta('viewport', 'width=device-width, initial-scale=1, shrink-to-fit=no');
}
{control document:start}
	{ifset container}
		{include container}
	{else}
		<p>
			Define <code>{l}block container{r}</code> to render layout template
		</p>
	{/ifset}
{control document:end}
