ori.cmf.ui.forms.send: 'Odeslat'
ori.cmf.ui.forms.protection: 'Platnost formuláře vypršela, prosím zkuste to znovu.'
ori.cmf.ui.forms.equal: 'Prosím vložte %s.'
ori.cmf.ui.forms.notEqual: 'Tato hodnota není totožná s %s.'
ori.cmf.ui.forms.filled: 'Tato položka je povinná.'
ori.cmf.ui.forms.blank: 'Tato položka by měla být prázdná.'
ori.cmf.ui.forms.minLength: 'Minimální délka tohoto pole je %d znaků.'
ori.cmf.ui.forms.maxLength: 'Maximální délka tohoto pole je %d znaků.'
ori.cmf.ui.forms.length: 'Prosím vložte hodnotu mezi %d a %d.'
ori.cmf.ui.forms.email: 'Vložte prosím platnou e-mailovou adresu.'
ori.cmf.ui.forms.url: 'Vložte prosím platnou URL adresu.'
ori.cmf.ui.forms.integer: 'Vložte prosím celé číslo.'
ori.cmf.ui.forms.number: 'Vložte prosím číslo.'
ori.cmf.ui.forms.min: 'Vložte prosím hodnotu stejnou nebo větší než %d.'
ori.cmf.ui.forms.max: 'Vložte prosím hodnotu stejnou nebo menší než %d.'
ori.cmf.ui.forms.range: 'Vložte hodnotu v rozmezí %d a %d.'
ori.cmf.ui.forms.maxFileSize: 'Maximální povolená velikost souborů je %d bytů.'
ori.cmf.ui.forms.maxPostSize: 'Maximální povolená velikost formuláře je %d bytů.'
ori.cmf.ui.forms.mimeType: 'Tento soubor není v očekávaném formátu.'
ori.cmf.ui.forms.image: 'Nahraný soubor musí být ve formátu jpg, png, gif.'
ori.cmf.ui.forms.select: 'Prosím vyberte platnou hodnotu.'
ori.cmf.ui.forms.upload: 'Nastala chyba během nahrávání souboru.'
