extensions:
	ori.cmf.latteComponents: OriCMF\UI\Template\DI\LatteComponentsExtension
	ori.cmf.routing: OriCMF\UI\Routing\DI\RoutingExtension
	ori.cmf.ui: OriCMF\UI\Config\DI\UIExtension
	ori.cmf.uiTemplate: OriCMF\UI\Template\DI\UITemplateExtension

nette.decorator:
	OriCMF\UI\Control\BaseControl:
		setup:
			- setBase()

ori.cmf.routing:
	debug: %debug.panels.ui.routing%
	providers:
		ori.core: OriCMF\UI\Routing\CmfUIRouterProvider

services:
	# Control
	ori.cmf.ui.control.body.factory:
		implement: OriCMF\UI\Control\Body\BodyControlFactory
	ori.cmf.ui.control.breadcrumb.factory:
		implement: OriCMF\UI\Control\Breadcrumb\BreadcrumbControlFactory
	ori.cmf.ui.control.document.factory:
		implement: OriCMF\UI\Control\Document\DocumentControlFactory
	ori.cmf.ui.control.head.factory:
		implement: OriCMF\UI\Control\Head\HeadControlFactory
	ori.cmf.ui.control.icons.factory:
		implement: OriCMF\UI\Control\Icons\IconsControlFactory
	ori.cmf.ui.control.links.factory:
		implement: OriCMF\UI\Control\Links\LinksControlFactory
	ori.cmf.ui.control.meta.factory:
		implement: OriCMF\UI\Control\Meta\MetaControlFactory
	ori.cmf.ui.control.noscript.factory:
		implement: OriCMF\UI\Control\NoScript\NoScriptControlFactory
	ori.cmf.ui.control.scripts.factory:
		implement: OriCMF\UI\Control\Scripts\ScriptsControlFactory
		arguments:
			version: %container.compiledAt%
			debug: %debugMode%
	ori.cmf.ui.control.styles.factory:
		implement: OriCMF\UI\Control\Styles\StylesControlFactory
		arguments:
			version: %container.compiledAt%
			debug: %debugMode%
	ori.cmf.ui.control.title.factory:
		implement: OriCMF\UI\Control\Title\TitleControlFactory

	# DataGrid
	ori.cmf.ui.dataGrid.factory:
		implement: OriCMF\UI\DataGrid\DataGridFactory

	# Form
	ori.cmf.ui.form.factory:
		factory: OriCMF\UI\Form\FormFactory

	# Template
	ori.cmf.ui.template.creator: OriCMF\UI\Template\TemplateCreator
	ori.cmf.ui.template.locator.control:
		factory: OriCMF\UI\Template\Locator\ControlTemplateLocator
		arguments:
			rootDir: %rootDir%
	ori.cmf.ui.template.locator.presenter:
		factory: OriCMF\UI\Template\Locator\PresenterTemplateLocator
		arguments:
			rootDir: %rootDir%
