{templateType OriCMF\Home\Public\HomeTemplate}

{layout OriCMF\Public\Presenter\BasePublicPresenter::LayoutPath}

{block content}
	<h1>Hello there. I am useless homepage presenter. Just override my mapping, thx.</h1>
{/block}
