ori.ui.forms.send: 'Send'
ori.ui.forms.protection: 'Forms validity has expired, please try again.'
ori.ui.forms.equal: 'Please enter %s.'
ori.ui.forms.notEqual: 'This value should not be %s.'
ori.ui.forms.filled: 'This field is required.'
ori.ui.forms.blank: 'This field should be blank.'
ori.ui.forms.minLength: 'Please enter at least %d characters.'
ori.ui.forms.maxLength: 'Please enter no more than %d characters.'
ori.ui.forms.length: 'Please enter a value between %d and %d characters long.'
ori.ui.forms.email: 'Please enter a valid email address.'
ori.ui.forms.url: 'Please enter a valid URL.'
ori.ui.forms.integer: 'Please enter a valid integer.'
ori.ui.forms.number: 'Please enter a valid number.'
ori.ui.forms.min: 'Please enter a value greater than or equal to %d.'
ori.ui.forms.max: 'Please enter a value less than or equal to %d.'
ori.ui.forms.range: 'Please enter a value between %d and %d.'
ori.ui.forms.maxFileSize: 'The size of the uploaded file can be up to %d bytes.'
ori.ui.forms.maxPostSize: 'The uploaded data exceeds the limit of %d bytes.'
ori.ui.forms.mimeType: 'The uploaded file is not in the expected format.'
ori.ui.forms.image: 'The uploaded file must be image in format JPEG, GIF or PNG.'
ori.ui.forms.select: 'Please select a valid option.'
ori.ui.forms.upload: 'An error occurred during file upload.'
