#
# Admin
#
ori.ui.admin.title: Administrace

#
# DataGrid
#

ori.ui.grid.search: Hledat
ori.ui.grid.search.cancel: Zrušit
ori.ui.grid.actions: Akce
ori.ui.grid.global.title: Hromadná akce
ori.ui.grid.global.do: Provést
ori.ui.grid.global.choose: '- vyberte hromadnou akci -'

#
# Error
#

ori.ui.httpError.homeButton: Zpátky na domovskou stránku

# 400 Bad Request
ori.ui.httpError.400.title: Chybný požadavek
ori.ui.httpError.400.message: 'Váš prohlížeč zaslal požadavek, který tento server nemůže zpracovat.'

# 403 Forbidden
ori.ui.httpError.403.title: Přístup zamítnut
ori.ui.httpError.403.message: 'Nemáte oprávnění pro zobrazení této strany. Prosím zkontaktujte nás, pokud si myslíte, že se jedná o chybu.'

# 404 Not Found
ori.ui.httpError.404.title: Nenalezeno
ori.ui.httpError.404.message: 'Strana, kterou hledáte, nebyla nalezena. Je možné, že je adresa URL špatná, nebo strana již neexistuje.'

# 410 Gone
ori.ui.httpError.410.title: Nenalezeno
ori.ui.httpError.410.message: 'Strana, kterou hledáte byla smazána. Omlouváme se vám za komplikace.'

# 500 Internal Server Error
ori.ui.httpError.500.title: Chyba serveru
ori.ui.httpError.500.message: '''
	Omlouváme se! Na serveru se vyskytla chyba a nebyl schopen zpracovat váš požadavek.
	O chybě víme a pracujeme na ní. Zkuste to prosím později.
'''

#
# Login
#

ori.ui.login.logout.reason.inactivity: 'Byl(a) jste odhlášen(a) z důvodu neaktivity.'

#
# Pagination
#

ori.ui.pagination.first: První
ori.ui.pagination.last: Poslední
ori.ui.pagination.previous: Předchozí
ori.ui.pagination.next: Následující
ori.ui.pagination.results: "{from} až {to} z {total} výsledků"
