#
# Admin
#
ori.admin.title: Administration

#
# DataGrid
#

ori.ui.grid.search: Search
ori.ui.grid.search.cancel: Cancel
ori.ui.grid.actions: Actions
ori.ui.grid.global.title: Global action
ori.ui.grid.global.do: Do
ori.ui.grid.global.choose: '- select global action -'

#
# Error
#

ori.ui.httpError.homeButton: Back to homepage

# 400 Bad Request
ori.ui.httpError.400.title: Bad Request
ori.ui.httpError.400.message: Your browser sent a request that this server could not understand or process.

# 403 Forbidden
ori.ui.httpError.403.title: Access Denied
ori.ui.httpError.403.message: You do not have permission to view this page. Please contact us if you think you should be able to view this page.

# 404 Not Found
ori.ui.httpError.404.title: Not Found
ori.ui.httpError.404.message: 'The page you requested could not be found. It is possible that the address is incorrect, or that the page no longer exists.'

# 410 Gone
ori.ui.httpError.410.title: Not Found
ori.ui.httpError.410.message: 'The page you requested has been taken off the site. We apologize for the inconvenience.'

# 500 Internal Server Error
ori.ui.httpError.500.title: Server Error
ori.ui.httpError.500.message: '''
	We are sorry! The server encountered an internal error and was unable to complete your request.
	We know about the error and we are working on remedy. Please try again later.
'''

#
# Login
#

ori.ui.login.logout.reason.inactivity: 'You have been signed out due to inactivity.'

#
# Pagination
#

ori.ui.pagination.first: First
ori.ui.pagination.last: Last
ori.ui.pagination.previous: Previous
ori.ui.pagination.next: Next
ori.ui.pagination.results: "{from} to {to} of {total} results"
