extensions:
	di: Nette\DI\Extensions\DIExtension(%debugMode%)

	nette.decorator: Nette\DI\Extensions\DecoratorExtension
	nette.inject: Nette\DI\Extensions\InjectExtension

	nextras.migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
	nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension

	ori.cmf.cache: OriCMF\Core\Cache\DI\CacheExtension(%tempDir%/nette)
	ori.cmf.config: OriCMF\Core\Config\DI\ConfigExtension
	ori.cmf.dbal: OriCMF\Core\SQL\DI\DbalExtension
	ori.cmf.ormInitializer: OriCMF\Core\ORM\DI\OrmInitializerExtension

	orisai.auth: OriNette\Auth\DI\AuthExtension
	orisai.console: OriNette\Console\DI\ConsoleExtension
	orisai.datasource: Orisai\DataSources\Bridge\NetteDI\DataSourceExtension
	orisai.httpClient: OriNette\HttpClient\DI\HttpClientExtension
	orisai.localization: Orisai\Localization\Bridge\NetteDI\LocalizationExtension
	orisai.monolog: OriNette\Monolog\DI\MonologExtension
	orisai.time: OriNette\Time\DI\TimeExtension

	tracy: Tracy\Bridges\Nette\TracyExtension(%debugMode%, %consoleMode%)

di:
	debugger: %debug.panels.di.container%
	export:
		parameters: false
		tags: false
		types: false

nextras.migrations:
	driver: pgsql
	dbal: nextras
	withDummyData: %debugMode%

nextras.orm:
	model: Nextras\Orm\Model\Model
	repositoryFinder: Nextras\Orm\Bridges\NetteDI\DIRepositoryFinder

ori.cmf.dbal:
	debug: %debug.panels.dbal%
	sqlProcessorFactory: @ori.cmf.core.sql.processorFactory

orisai.auth:
	authorization:
		data: @ori.cmf.core.auth.dataCreator::create
	debug:
		panel: %debug.panels.auth%

orisai.console:
	catchExceptions: %catchExceptions.console%
	name: %application.name%
	version: %application.build.version%
	di:
		parameters:
			backup: %consoleMode%

orisai.httpClient:
	debug:
		panel: %debug.panels.httpClient%

orisai.localization:
	debug:
		newMessages: %debugMode%
		panel: %debug.panels.localization%
	directories:
		- %vendorDir%/orisai/cmf/src/**/translations/**

orisai.monolog:
	debug: %debugMode%

	channels:

		main:
			autowired: true

	# No default handlers, just bridge with Tracy
	handlers: []

	bridge:
		fromTracy:
			- main
		toTracy: true
		tracyPanel: %debug.panels.monolog%

	processors:
		hostname: Monolog\Processor\HostnameProcessor
		introspection: Monolog\Processor\IntrospectionProcessor
		web: Monolog\Processor\WebProcessor

tracy:
	netteMailer: false
	# Report everything in development mode
	strictMode: 'E_ALL'
	# Log everything in production mode
	logSeverity: 'E_ALL'

parameters:
	catchExceptions:
		console: false
	debug:
		panels:
			auth: false
			dbal: false
			di:
				container: true
			httpClient: false
			localization: false
			monolog: false
	application:
		name: null
		build:
			name: null
			version: null
			stable: false
	privileges: []

services:
	# Auth
	ori.cmf.core.auth.dataCreator:
		factory: OriCMF\Core\Auth\AuthorizationDataCreator
		autowired: false
		arguments:
			privileges: %privileges%
			containerName: %container.className%
			debugMode: %debugMode%

	# Cache
	ori.cmf.core.cache:
		factory: Nette\Caching\Cache

	# Config
	ori.cmf.core.config.application:
		factory: OriCMF\Core\Config\ApplicationConfig
		arguments: [%application.name%]
	ori.cmf.core.config.build:
		factory: OriCMF\Core\Config\BuildConfig
		arguments: [%application.build.name%, %application.build.version%, %application.build.stable%]

	# Email
	ori.cmf.core.email.mapper:
		factory: OriCMF\Core\Email\EmailPostgresMapper
		type: OriCMF\Core\Email\EmailMapper
	ori.cmf.core.email.repository:
		factory: OriCMF\Core\Email\EmailRepository

	# Filesystem
	ori.cmf.core.filesystem.internal.adapter:
		factory: League\Flysystem\Local\LocalFilesystemAdapter
		type: League\Flysystem\FilesystemAdapter
		autowired: false
		arguments:
			location: %dataDir%
	ori.cmf.core.filesystem.internal:
		factory: OriCMF\Core\Files\InternalFileSystem
		arguments:
			- @ori.cmf.core.filesystem.internal.adapter

	ori.cmf.core.filesystem.public.adapter:
		factory: League\Flysystem\Local\LocalFilesystemAdapter
		type: League\Flysystem\FilesystemAdapter
		autowired: false
		arguments:
			location: %wwwDir%/u
	ori.cmf.core.filesystem.public:
		factory: OriCMF\Core\Files\PublicFileSystem
		arguments:
			- @ori.cmf.core.filesystem.public.adapter

	ori.cmf.core.filesystem.mimeTypeDetector:
		factory: League\MimeTypeDetection\FinfoMimeTypeDetector
		arguments:
			bufferSampleSize: 1048576 # 1 MB

	# Password
	ori.cmf.core.password.mapper:
		factory: OriCMF\Core\Password\PasswordPostgresMapper
		type: OriCMF\Core\Password\PasswordMapper
	ori.cmf.core.password.repository:
		factory: OriCMF\Core\Password\PasswordRepository

	# Role
	ori.cmf.core.role.mapper:
		factory: OriCMF\Core\Role\RolePostgresMapper
		type: OriCMF\Core\Role\RoleMapper
	ori.cmf.core.role.repository:
		factory: OriCMF\Core\Role\RoleRepository

	# SQL
	ori.cmf.core.sql.logger:
		factory: OriCMF\Core\SQL\SqlLogger
		type: Nextras\Dbal\ILogger
	ori.cmf.core.sql.modifier.arrayExpression:
		factory: OriCMF\Core\SQL\Modifier\ArrayExpressionModifier
	ori.cmf.core.sql.processorFactory:
		factory: OriCMF\Core\SQL\SqlProcessorFactory
		setup:
			- addModifier(arrayExpression, @ori.cmf.core.sql.modifier.arrayExpression)

	# User
	ori.cmf.core.user.mapper:
		factory: OriCMF\Core\User\UserPostgresMapper
		type: OriCMF\Core\User\UserMapper
	ori.cmf.core.user.repository:
		factory: OriCMF\Core\User\UserRepository

	# User.Credentials
	ori.cmf.core.user.credentials.handlerManager:
		factory: OriCMF\Core\User\Credentials\CredentialHandlerManager
		arguments:
			handlers:
				email: OriCMF\Core\User\Credentials\EmailCredentialHandler()
				password: OriCMF\Core\User\Credentials\PasswordCredentialHandler()

	# User.Login
	ori.cmf.core.user.login.verifier:
		factory: OriCMF\Core\User\Login\LoginVerifier

	# User.Register
	ori.cmf.core.user.register.registrar:
		factory: OriCMF\Core\User\Register\UserRegistrar
	ori.cmf.core.user.register.getter:
		implement: OriCMF\Core\User\Register\UserRegistrarGetter
