{templateType OriCMF\UI\Control\Links\LinksTemplate}
		<link n:foreach="$links as $href => $rel" rel="{$rel}" href="{$href}">
		<link n:foreach="$alternateLanguages as $href => $hreflang" rel="alternate" href="{$href}" hreflang="{$hreflang}">
		<link n:foreach="$alternateFeeds as $href => $attrs" rel="alternate" href="{$href}" type="{$attrs['type']}" title="{$attrs['title']}">
