nette.decorator:
	OriCMF\Front\Presenter\BaseFrontPresenter:
		setup:
			- setFront(menu: @ori.cmf.front.menu)

services:
	# Auth
	ori.cmf.front.auth.identityRefresher:
		factory: OriCMF\Front\Auth\FrontIdentityRefresher
		autowired: false
	ori.cmf.front.auth.firewall:
		factory: OriCMF\Front\Auth\FrontFirewall
		arguments:
			storage: @OriNette\Auth\Http\SessionLoginStorage
			refresher: @ori.cmf.front.auth.identityRefresher

	# Error
	ori.cmf.front.error.presenter:
		factory: OriCMF\Front\Error\ErrorPresenter

	# Homepage
	ori.cmf.front.homepage.presenter:
		factory: OriCMF\Front\Homepage\HomepagePresenter

	# Login
	ori.cmf.front.login.presenter:
		factory: OriCMF\Front\Login\LoginPresenter

	# Menu
	ori.cmf.front.menu:
		factory: OriCMF\UI\Control\Menu\Menu
		autowired: false
