services:
	# Auth
	ori.cmf.front.auth.identityRefresher:
		factory: OriCMF\Front\Auth\FrontIdentityRefresher
		autowired: false
	ori.cmf.front.auth.firewall:
		factory: OriCMF\Front\Auth\FrontFirewall
		arguments:
			storage: @ori.cmf.ui.auth.loginStorage
			refresher: @ori.cmf.front.auth.identityRefresher

	# Error
	ori.cmf.front.error.presenter:
		factory: OriCMF\Front\Error\ErrorPresenter

	# Homepage
	ori.cmf.front.homepage.presenter:
		factory: OriCMF\Front\Homepage\HomepagePresenter

	# Login
	ori.cmf.front.login.presenter:
		factory: OriCMF\Front\Login\LoginPresenter
