services:
	# Auth
	ori.front.auth.identityRenewer:
		factory: OriCMF\Front\Auth\FrontIdentityRenewer
		autowired: false
	ori.front.auth.firewall:
		factory: OriCMF\Front\Auth\FrontFirewall
		arguments:
			storage: @ori.ui.auth.loginStorage
			renewer: @ori.front.auth.identityRenewer

	# Error
	ori.front.error.presenter:
		factory: OriCMF\Front\Error\ErrorPresenter

	# Homepage
	ori.front.homepage.presenter:
		factory: OriCMF\Front\Homepage\HomepagePresenter

	# Login
	ori.front.login.presenter:
		factory: OriCMF\Front\Login\LoginPresenter
