{templateType OriCMF\UI\Control\Meta\MetaControlTemplate}
		<meta n:foreach="$httpEquivs as $httpEquiv => $content" http-equiv="{$httpEquiv}" content="{$content}">
		<meta n:foreach="$metasWithName as $name => $content" name="{$name}" content="{$content}">
		<meta n:foreach="$metasWithProperty as $name => $content" property="{$name}" content="{$content}">
