parameters:
	privileges:
		- ori.cmf.admin.entry

nette.decorator:
	OriCMF\Admin\Presenter\BaseAdminPresenter:
		setup:
			- setAdmin(menu: @ori.cmf.admin.menu)

services:
	# Menu
	ori.cmf.admin.menu:
		factory: OriCMF\UI\Control\Menu\Menu
		autowired: false
