includes:
	- phpstan.base.neon

parameters:
	level: 8
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

	ignoreErrors:
		# Intentionally broken
		- message: '#^Return type (.+) of method (.+)\:\:setTranslator\(\) should be covariant with (.+)#'
		  path: ../src/UI/Form/Form.php
		# Layout is string|bool|null, check is correct
		- message: '#^Strict comparison using === between string and null will always evaluate to false\.$#'
		  path: ../src/UI/Presenter/BasePresenter.php
		  count: 1
		# ¯\_(ツ)_/¯
		- message: '#^Only booleans are allowed in a ternary operator condition, int given\.$#'
		  path: ../src/UI/Template/UIMacros.php
		  count: 1
		- message: '#^Only booleans are allowed in a ternary operator condition, int given\.$#'
		  path: ../src/UI/Template/LatteComponentMacros.php
		  count: 2
		# array works, iterable does not - probably phpstan-nextras issue?
		- message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(Nextras\\Orm\\Entity\\IEntity\)\: mixed\)\|null, Closure\(OriCMF\\Core\\Role\\Role\)\: string given\.$#'
		  path: ../src/UI/Auth/UserIdentityCreator.php
		  count: 1
