extensions:
	cache: Nette\Bridges\CacheDI\CacheExtension(%tempDir%)
	console: OriNette\Console\DI\ConsoleExtension
	datasource: Orisai\DataSources\Bridge\NetteDI\DataSourceExtension
	dbal: OriCMF\Core\SQL\DI\DbalExtension
	decorator: Nette\DI\Extensions\DecoratorExtension
	di: Nette\DI\Extensions\DIExtension(%debugMode%)
	inject: Nette\DI\Extensions\InjectExtension
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
	orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	ormInitializer: OriCMF\Core\ORM\DI\OrmInitializerExtension
	time: OriNette\Time\DI\TimeExtension
	tracy: Tracy\Bridges\Nette\TracyExtension(%debugMode%, %consoleMode%)

console:
	catchExceptions: %catchExceptions.console%
	name: %application.name%
	version: %application.build.version%

dbal:
	debug: %debug.panels.dbal%
	sqlProcessorFactory: @ori.core.sql.processorFactory

di:
	debugger: %debug.panels.di.container%
	export:
		tags: false

migrations:
	driver: pgsql
	dbal: nextras
	withDummyData: %debugMode%
	groups:
		ori.core.structure:
			directory: %vendorDir%/orisai/cmf-core/src/upgrade/migrations/structures

orm:
	model: Nextras\Orm\Model\Model
	repositoryFinder: Nextras\Orm\Bridges\NetteDI\DIRepositoryFinder

parameters:
	catchExceptions:
		console: false
	debug:
		panels:
			dbal: false
			di:
				container: true
	application:
		name: null
		build:
			name: null
			version: null
			stable: false

services:
	# Cache
	ori.core.cache:
		factory: Nette\Caching\Cache

	# Logging
	ori.core.logger:
		factory: Psr\Log\NullLogger
		type: Psr\Log\LoggerInterface

	# SQL
	ori.core.sql.modifier.arrayExpression:
		factory: OriCMF\Core\SQL\Modifier\ArrayExpressionModifier
	ori.core.sql.processorFactory:
		factory: OriCMF\Core\SQL\SqlProcessorFactory
		setup:
			- addModifier(arrayExpression, @ori.core.sql.modifier.arrayExpression)

	# Config
	ori.core.config.application:
		factory: OriCMF\Core\Config\ApplicationConfig
		arguments: [%application.name%]
	ori.core.config.build:
		factory: OriCMF\Core\Config\BuildConfig
		arguments: [%application.build.name%, %application.build.version%, %application.build.stable%]

	# Filesystem
	ori.core.filesystem.internal.adapter:
		factory: League\Flysystem\Local\LocalFilesystemAdapter
		type: League\Flysystem\FilesystemAdapter
		arguments:
			location: %dataDir%
	ori.core.filesystem.internal:
		factory: OriCMF\Core\Files\InternalFileSystem
		type: OriCMF\Core\Files\InternalFileSystem
		arguments:
			- @ori.core.filesystem.internal.adapter

	ori.core.filesystem.public.adapter:
		factory: League\Flysystem\Local\LocalFilesystemAdapter
		type: League\Flysystem\FilesystemAdapter
		arguments:
			location: %wwwDir%/u
	ori.core.filesystem.public:
		factory: OriCMF\Core\Files\PublicFileSystem
		type: OriCMF\Core\Files\PublicFileSystem
		arguments:
			- @ori.core.filesystem.public.adapter

	# User
	ori.core.email.mapper:
		factory: OriCMF\Core\Email\Mapper\EmailPgsqlMapper
		type: OriCMF\Core\Email\Mapper\EmailMapper
	ori.core.email.repository:
		factory: OriCMF\Core\Email\EmailRepository

	ori.core.password.mapper:
		factory: OriCMF\Core\Password\Mapper\PasswordPgsqlMapper
		type: OriCMF\Core\Password\Mapper\PasswordMapper
	ori.core.password.repository:
		factory: OriCMF\Core\Password\PasswordRepository

	ori.core.person.mapper:
		factory: OriCMF\Core\Person\Mapper\PersonPgsqlMapper
		type: OriCMF\Core\Person\Mapper\PersonMapper
	ori.core.person.repository:
		factory: OriCMF\Core\Person\PersonRepository

	ori.core.role.mapper:
		factory: OriCMF\Core\Role\Mapper\RolePgsqlMapper
		type: OriCMF\Core\Role\Mapper\RoleMapper
	ori.core.role.repository:
		factory: OriCMF\Core\Role\RoleRepository

	ori.core.user.mapper:
		factory: OriCMF\Core\User\Mapper\UserPgsqlMapper
		type: OriCMF\Core\User\Mapper\UserMapper
	ori.core.user.repository:
		factory: OriCMF\Core\User\UserRepository

	# Auth
	ori.core.auth.password.encoder:
		factory: Orisai\Auth\Passwords\SodiumPasswordEncoder

tracy:
	netteMailer: false
	strictMode: true
