includes:
	- integrations.neon

	- App/wiring.neon
	- Admin/wiring.neon
	- Auth/wiring.neon
	- Cache/wiring.neon
	- Config/wiring.neon
	- Dbal/wiring.neon
	- Email/wiring.neon
	- Error/wiring.neon
	- Files/wiring.neon
	- Home/wiring.neon
	- Login/wiring.neon
	- Orm/wiring.neon
	- Password/wiring.neon
	- Public/wiring.neon
	- Registration/wiring.neon
	- Robots/wiring.neon
	- Role/wiring.neon
	- UI/wiring.neon
	- User/wiring.neon

orisai.localization:
	directories:
		- %vendorDir%/orisai/auth/src/Locale/**
		- %modules.orisai_cmf.dir%/src/**/Locale/**

nextras.migrations:
	groups:
		ori.cmf.structure:
			directory: %modules.orisai_cmf.dir%/src/Upgrade/SQL/structures
		ori.cmf.basicData:
			directory: %modules.orisai_cmf.dir%/src/Upgrade/SQL/basic-data

parameters:
	catchExceptions:
		console: false
		ui: false
	debug:
		panels:
			auth: %debugMode%
			dbal: %debugMode%
			di:
				container: %debugMode%
			http: %debugMode%
			httpClient: %debugMode%
			localization: %debugMode%
			monolog: %debugMode%
			ui:
				application: %debugMode%
				applicationMap: %debugMode%
				formMonitor: %debugMode%
				inspector: %debugMode%
				routing: %debugMode%
				session: %debugMode%
	application:
		name: null
		build:
			name: null
			version: null
			stable: false
	privileges: []
	timeZone: UTC
