services:
	# Role
	ori.cmf.console.role.createCommand:
		factory: OriCMF\Console\Role\RoleCreateCommand

	# User
	ori.cmf.console.user.addRole.command:
		factory: OriCMF\Console\User\UserRoleAddCommand
	ori.cmf.console.user.register.command:
		factory: OriCMF\Console\User\UserRegisterCommand
