services:
	# Role
	ori.cmf.console.role.createCommand: OriCMF\Console\Role\RoleCreateCommand

	# User
	ori.cmf.console.user.addRole.command: OriCMF\Console\User\UserRoleAddCommand
	ori.cmf.console.user.register.command: OriCMF\Console\User\UserRegisterCommand
