#
# Login
#

ori.core.log.in.email.alreadyInUse: Emailová adresa je již využívána jiným účtem.
ori.core.log.in.invalidCredentials: Nesprávné přihlašovací údaje
ori.core.log.in.inactive.newAccount: Váš účet zatím nebyl aktivován.
ori.core.log.in.inactive.deactivatedAccount: Váš účet byl deaktivován.

#
# User
#

ori.core.user.state.new: Nový
ori.core.user.state.active: Aktivní
ori.core.user.state.disabled: Deaktivovaný
