#
# Login
#

ori.core.log.in.email.alreadyInUse: Email address is already used by another account.
ori.core.log.in.invalidCredentials: Incorrect credentials
ori.core.log.in.inactive.newAccount: Your account is not activated yet.
ori.core.log.in.inactive.deactivatedAccount: Your account was deactivated.

#
# User
#

ori.core.user.state.new: New
ori.core.user.state.active: Active
ori.core.user.state.disabled: Disabled
